In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
datset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [6]:
dataset["classification"].value_counts()

classification
yes    249
no     150
Name: count, dtype: int64

In [7]:
dataset.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [8]:
independent=dataset[['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu','sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad','appet', 'pe', 'ane']],

In [9]:
independent

(           age         bp sg   al   su     rbc        pc         pcc  \
 0     2.000000  76.459948  c  3.0  0.0  normal  abnormal  notpresent
 1     3.000000  76.459948  c  2.0  0.0  normal    normal  notpresent
 2     4.000000  76.459948  a  1.0  0.0  normal    normal  notpresent
 3     5.000000  76.459948  d  1.0  0.0  normal    normal  notpresent
 4     5.000000  50.000000  c  0.0  0.0  normal    normal  notpresent
 ..         ...        ... ..  ...  ...     ...       ...         ...
 394  51.492308  70.000000  a  0.0  0.0  normal    normal  notpresent
 395  51.492308  70.000000  c  0.0  2.0  normal    normal  notpresent
 396  51.492308  70.000000  c  3.0  0.0  normal    normal  notpresent
 397  51.492308  90.000000  a  0.0  0.0  normal    normal  notpresent
 398  51.492308  80.000000  a  0.0  0.0  normal    normal  notpresent

              ba         bgr  ...       hrmo        pcv            wc  \
 0    notpresent  148.112676  ...  12.518156  38.868902   8408.191126
 1    notpresent  148.112676  ...  10.700000  34.000000  12300.000000
 2    notpresent   99.000000  ...  12.000000  34.000000   8408.191126
 3    notpresent  148.112676  ...   8.100000  38.868902   8408.191126
 4    notpresent  148.112676  ...  11.800000  36.000000  12400.000000
 ..          ...         ...  ...        ...        ...           ...
 394  notpresent  219.000000  ...  12.500000  37.000000   9800.000000
 395  notpresent  220.000000  ...   8.700000  27.000000   8408.191126
 396  notpresent  110.000000  ...   9.100000  26.000000   9200.000000
 397  notpresent  207.000000  ...   8.500000  38.868902   8408.191126
 398  notpresent  100.000000  ...  16.300000  53.000000   8500.000000

            rc  htn   dm  cad  appet    pe  ane
 0    4.705597   no   no   no    yes   yes   no
 1    4.705597   no   no   no    yes  poor   no
 2    4.705597   no   no   no    yes  poor   no
 3    4.705597   no   no   no    yes  poor  yes
 4    4.705597   no   no   no    yes  poor   no
 ..        ...  ...  ...  ...    ...   ...  ...
 394  4.400000   no   no   no    yes  poor   no
 395  4.705597  yes  yes   no    yes  poor  yes
 396  3.400000  yes  yes   no   poor  poor   no
 397  4.705597  yes  yes   no    yes  poor  yes
 398  4.900000   no   no   no    yes  poor   no

 [399 rows x 24 columns],)

In [10]:
dependent=dataset[['classification']]

In [11]:
dependent

    classification
0              yes
1              yes
2              yes
3              yes
4              yes
..             ...
394            yes
395            yes
396            yes
397            yes
398             no

[399 rows x 1 columns]

In [12]:
independent.shape

AttributeError: 'tuple' object has no attribute 'shape'

In [13]:
dependent.shape

(399, 1)